<html>
	<head>
		<title>login</title>
		   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
           <script type="text/javascript">
           $(document).ready(function(){

           });
           </script>
	</head>
	<body>
		<form action="login" method="POST" >
			username: <input type="text" name="username" /><br/>
			password: <input type="password" name="password" />
			<input type="submit" value="post" />
		</form>
	</body>
</html>