<html>
	<head>
		<title>login</title>
	</head>
	<body>
		<form action="signup" method="POST" >
			username: <input type="text" name="username" /><br/>
			password: <input type="password" name="password" />
			<input type="submit" value="post" />
		</form>
	</body>
</html>